:root {
    --header-color: #212121;
    --accent-color: #2196f3;
    --first-title-color: #2f303a;
    --second-title-color: #e5e5e5;
    --footer-color: #757575;
    --one-title-color: #ffffff;
    --icon-color: #afb1b8;
  }
  body {
    font-family: 'Roboto', sans-serif;
    color: var(--header-color);
    background: var(--one-title-color);
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  img {
    display: block;
  }
  
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  .btn-pointer {
    cursor: pointer;
  }
  .foot-pointer {
    cursor: default;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  /*--------------------------HEADER----------------------*/
  
  .header {
    border-bottom: 1px solid #ececec;
    background-color: var(--one-title-color);
  }
  
  .header-list {
    display: flex;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-connect {
    margin-left: auto;
  }
  
  .span-logo {
    color: #212121;
  }
  
  .header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.91;
    letter-spacing: 0.03em;
  
    color: #2196f3;
    margin-right: 93px;
  }
  .header-item:not(:last-child) {
    margin-right: 50px;
  }
  .header-cont:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }
  
  .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--footer-color);
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--footer-color);
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-cont {
    display: flex;
    color: var(--icon-color);
  }
  
  .header-social-icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .header-tel:hover,
  .header-tel:focus {
    color: var(--accent-color);
    /* fill: var(--accent-color); */
  }
  
  .header-mail:hover,
  .header-mail:focus {
    color: var(--accent-color);
    /* fill: var(--accent-color); */
  }
  
  .header-link:hover .header-mail,
  .header-link:focus .header-mail {
    fill: var(--accent-color);
  }
  
  .header-social-icon:focus,
  .header-social-icon:hover {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
  
  /*--------------------------HERO----------------------*/
  .hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--first-title-color);
    text-align: center;
    padding: 200px 0px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
  
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 696px;
    margin-bottom: 30px;
    margin: auto;
  }
  
  .hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 200px;
    min-height: 50px;
    margin-top: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hero-btn:hover {
    background-color: #188ce8;
  }
  
  /*--------------------------ABAUT----------------------*/
  .about-container {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .about-list {
    display: flex;
  }
  
  .about-item {
    max-width: 270px;
  }
  .about-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .about-pre-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
    margin-bottom: 10px;
  }
  .about-after-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-color);
  }
  
  /*--------------------------HOM----------------------*/
  .hom {
    padding-top: 0px;
  }
  
  .hom-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--header-color);
    margin-bottom: 50px;
  }
  .hom-list {
    display: flex;
    margin: -15px;
  }
  
  .hom-item {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
    position: relative;
  }
  .hom-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    color: var(--one-title-color);
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
  }
  /*--------------------------MEN----------------------*/
  
  .men {
    background-color: #f5f4fa;
  }
  
  .men-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 50px;
  }
  .men-pre-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 10px;
  }
  
  .men-after-title {
    font-size: 16px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--footer-color);
    margin-bottom: 16px;
  }
  
  .men-list {
    display: flex;
    list-style: none;
  }
  
  .men-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .team-list li:not(:last-child) {
    margin-right: 30px;
  }
  
  .men-item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .men-description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .men-social-list {
    display: flex;
    justify-content: center;
  }
  .men-social-item + .men-social-item {
    margin-left: 10px;
  }
  .men-social-link {
    width: 44px;
    height: 44px;
    background-color: var(--one-title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .men-social-icon {
    fill: var(--icon-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .men-social-link:hover,
  .men-social-link:focus {
    background-color: var(--accent-color);
  }
  
  .men-social-link:hover .men-social-icon,
  .men-social-link:focus .men-social-icon {
    fill: var(--one-title-color);
  }
  /* ---------------------------------------client---------------------------------- */
  
  .client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
    margin-bottom: 50px;
  }
  .client-list {
    display: flex;
  }
  
  .client-social-link {
    width: 170px;
    height: 92px;
    background-color: var(--one-title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--icon-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-social-icon {
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .client-social-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .client-social-link:hover,
  .client-social-link:focus {
    border-color: var(--accent-color);
  }
  
  .client-social-link:hover .client-social-icon,
  .client-social-link:focus .client-social-icon {
    fill: var(--accent-color);
  }
  /*--------------------------FOOTER----------------------*/
  .spani-logo {
    color: #f5f4fa;
  }
  
  .footer {
    background-color: var(--first-title-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-bg a {
    margin-bottom: 20px;
  }
  
  .footer-pre-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }
  .footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-color);
  
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-list li:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .footer-link:hover,
  .footer-pre-link:hover {
    color: hsl(252, 4%, 73%);
  }
  .footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  
    color: #2196f3;
  }
  
  address {
    font-style: normal;
    margin-top: 20px;
  }
  
  .footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  
  .footer-social {
    display: block;
    margin-left: 70px;
  }
  
  .footer-social-list {
    display: flex;
    justify-content: center;
  }
  
  .footer-social-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-social-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer-social-icon {
    fill: var(--one-title-color);
  }
  
  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: var(--accent-color);
  }
  
  .footer-social-link:hover .footer-social-icon,
  .footer-social-link:focus .footer-social-icon {
    fill: var(--one-title-color);
  }
  .footer-subscribe {
    margin-left: 93px;
    
  }
  .footer-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--first-title-color);
    padding-left: 16px;
    outline: none;
    color: var(--one-title-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .footer-input:focus {
    border-color:var(--accent-color);
  }
  .footer-input:focus::placeholder {
    color:var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      text-align: center;
      letter-spacing: 0.06em;
      color: #ffffff;
      background-color: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
      min-width: 200px;
      min-height: 50px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      margin-left: 12px;
      cursor: pointer;
  }
  .footer-btn:hover,
  .footer-btn:focus {
    background-color: #188ce8;
  }
  .submit-icon {
   margin-left: 10px;
  }
  
  /*----------------------------------------------------PORTFOLIO---------------------------*/
  
  .current {
    color: var(--accent-color);
    display: flex;
    position: relative;
  }
  .current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }
  /*--------------------------ART----------------------*/
  .art {
    padding-top: 94px;
    padding-bottom: 94px;
    color: var(--one-title-color);
  }
  
  .art-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .art-list li:not(:last-child) {
    margin-right: 8px;
  }
  
  .art-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
  
    display: block;
    margin: 0;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .art-btn:hover,
  .art-btn:focus {
    background-color: var(--accent-color);
    color: var(--one-title-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  .art-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
  
    letter-spacing: 0.06em;
  
    color: var(--header-color);
    margin-bottom: 4px;
  }
  .art-after-text {
    font-size: 16px;
    line-height: 1.87;
  
    letter-spacing: 0.03em;
  
    color: #757575;
  }
  
  .art-container {
    display: flex;
    align-items: center;
  }
  .carte-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .carte-thumb {
    width: 370px;
    position: relative;
    overflow: hidden;
  }
  
  .carte-item {
    width: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .carte-info {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
  }
  .carte-link:hover,
  .carte-link:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .carte-link {
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .art-text-to {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--one-title-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 64px 24px 64px 24px;
    margin: 0;
    height: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    transform: translateY(100%);
    transition: transform 250ms linear,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .carte-item :hover .art-text-to {
    transform: translateY(0%);
  }
  
  .carte-item :focus .art-text-to {
    transform: translateY(0%);
  }
  
  /* -----------backdrop-------------------------------------------------------------------- */
  
  .backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
    width: 528px;
    min-height: 581px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px;
  }
  
  .modal-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
  .modal-close:hover,
  .modal-close:focus {
    fill: var(--accent-color);
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--header-color);
  }
  .form-field {
    margin-bottom: 10px;
  }
  .form-field-check {
  margin-bottom: 30px;
  }
  .form-field-textarea {
    margin-bottom: 20px;
  }
  .forn-input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .forn-input:focus {
    border-color: var(--accent-color);
  }
  .forn-input:focus + .input-icon {
    fill: var(--accent-color);
  }
  
  .input-text {
    font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
  color: var(--footer-color);
  
  }
  
  .input-warp {
    position: relative;
  }
  .input-icon {
    position:absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-text {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    cursor: pointer;
    padding: 16px;
  }
  .form-text:focus {
    border-color: var(--accent-color);
  }
  .form-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
  }
  
  .check-text{
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: var(--footer-color);
    display:flex;
    align-items: center;
  
  }
  .check-text::before{
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 8px;
    
  }
  .policy-check:hover + .check-text::before,
  .policy-check:focus + .check-text::before {
    border: 2px solid var(--accent-color);
  }
  .policy-check:checked + .check-text::before{
    border: none;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .form-button { 
    display: flex;
    justify-content: center;
  }
  .submit-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 200px;
    min-height: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  .submit-btn:hover,
  .submit-btn:focus {
    background-color:#188ce8;
  }
  .form-check {
    margin-bottom: 30px;
  }
  .check-span {
    color: var(--accent-color);
    text-decoration: underline;
    margin-left: 3px;
  }