.list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  .btn-pointer {
    cursor: pointer;
  }
  .foot-pointer {
    cursor: default;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }